# Xcode
.DS_Store
*/build/*
*.pbxuser
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# nacamar's prepare.sh operates in libogg* and build.sh creates xcframework
*.log
libogg-*/
include/*.h
include/COPYING
src/*.h 
src/*.c
*.xcframework
*.zip
contributions/
tmp
.swiftpm
OggSwiftLocal
